.note-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 100%;
  padding: 0.7rem;
  margin: 0.5rem;

  .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    .note-date {
      font-weight: 600;
      color: rgba(48, 48, 48, 0.729);
    }

    .note-options button {
      margin-left: 0.5rem;
    }
  }

  .note-content-textarea {
    resize: vertical;
    width: 100%;
    border-radius: 10px 10px 0px 10px;
    padding: 0.6rem;
    min-height: 300px;
  }

  .note-content-div {
    width: 100%;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: 1px solid #ececec;
    }

    ul,
    ol {
      padding-left: 1.2rem;
    }

    img {
      width: 100%;
    }

    table,
    th,
    td {
      border: 1px solid gray;
      border-collapse: collapse;
      padding: 0.35rem;
    }
  }
}
