* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (max-width: 1088px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 728px) {
  html {
    font-size: 87.5%;
  }
}

body,
button,
input,
textarea {
  font: 400 1rem "Poppins", sans-serif;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: none;
  width: 30px;
  height: 30px;
}
